<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <!-- <link rel="stylesheet" href="TODO"> -->
    <style>
        .http-msg {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            margin: 0;
        }
        .back-home {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    </style>
</head>
<body>
    <main>
        <h2 class="http-msg">404 - Not Found!</h2>
        <h5 class="back-home"><a href="/">back to home page</a></h5>
    </main>
</body>
</html>