<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500</title>
    <link rel="stylesheet" href="http://localhost:8080/assets/css/simple.css" />
    <link rel="stylesheet" href="http://localhost:8080/assets/css/server_errors.css">
</head>

<body>
    <main>
        <h2 class="http-msg">500 - Internal Server Error!</h2>
        <h5 class="back-home"><a href="/">back to home page</a></h5>
    </main>
</body>

</html>