/* Root variables, min-max values for all fluid properties. */
:root {
  /* Typography */
  --fs-min: 0.62rem;
  --fs-max: 1.25rem;
  --fs-fluid: calc(0.48rem + 0.96vw);

  /* Header */
  --header-padd-min: 8px;
  --header-padd-max: 20px;
  --header-padd-fluid: calc(0.5rem + 1vw);
  --header-height-min: 56px;
  --header-height-max: 72px;
  --header-height-fluid: calc(3.5rem + 0.8vw);
}

/* Box-sizing reset for all elements. */
* {
  box-sizing: border-box;
}

body {
  font-size: clamp(var(--fs-min), var(--fs-fluid), var(--fs-max));
}

/* Padding for the navigation container. */
nav {
  padding: 0.5rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ee9;
}
a.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #999;
  cursor: not-allowed;
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Utility class that can be toggled for optional elements. */
.optional {
  display: block;
}

/* Header layout using flexbox - the main app banner. */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  padding: clamp(
    var(--header-padd-min),
    var(--header-padd-fluid),
    var(--header-padd-max)
  );
  height: clamp(
    var(--header-height-min),
    var(--header-height-fluid),
    var(--header-height-max)
  );
  background: var(--bg);
  border-bottom: 1px solid #eee;
  position: relative;
}

/* Makes the header span bold and forces all text to lowercase. */
.app-header span {
  font-weight: 600;
  text-transform: lowercase;
}

/* Central container that provides horizontal padding. */
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Horizontal navigation styling. */
.horizontal-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-nav li {
  margin-right: 20px;
}

/* The style given to the registered operator's email and view title. */
.logged-operator,
.view-title {
  font-size: smaller;
}

/* Operator role. */
.operator-role {
  color: #678;
  font-size: 0.6rem;
  margin-left: 1rem;
}

/* Keeps the old media query only for whether or not to display the `optional` class. */
@media (max-width: 839px) {
  .optional {
    display: none;
  }
}
@media (min-width: 840px) {
  .optional {
    display: block;
  }
}
